@import 'reset';
@import 'box-sizing';

@mixin font($size: 24px) {
	font-family: "Helvetica Nevue", helvetica, sans-serif, serif;
	font-size: $size;
} 

#top-header {
	@include font;
	line-height: 36px;
	background-color: #FFCC66;
	border-bottom: 3px solid;
	border-top: 3px solid;
}

.container {
	margin: 0 auto;
	text-align: center
}

aside {
	width: 20%;
	background-color: #E0A3C2;
	display: inline-block;
	border: 3px solid;
	margin: 5px;
	text-align: center;

	.advert {
		@include font(18px);
		margin: 100px auto;
		display: inline-block
	}

	.cat {
		width: 85%;
		height: 35%;
		border: 4px solid;
		margin: 20px auto;
		object-fit: fill;

		img {
			height: auto;
			width: 100%;
		}
	}

}
main {
	@include font(18px);
	width: 60%;
	display: inline-block;
	vertical-align: top;

	h1 {
		font-weight: bold;
		font-size: 30px;
	}

	h2 {
		font-size: 18px;
		font-family: sans-serif;
	}

	#main-header {
		text-align: center;
		background-color: #80CC80;
		border: 3px solid;
		margin: 5px;
		border-radius: 20px;
		padding: 20px 0;

		h3 {
			font-size: 18px;
			font-style: italic;
			padding-top: 10px;
		}
	}
}

article {
	width: 31%;
	background-color: #72ABBF;
	border: 3px solid;
	margin: 5px;
	vertical-align: top;
	text-align: left;
	display: inline-block;

	h1, .date {
		padding-top: 10px;
		text-align: center;
	}

	h2, p{
		padding: 5px 5px;
	}

	h2 {
		font-weight: bold;
	}
}

footer {
	@include font(17px);
	background-color: #5C8AE6;
	border-radius: 20px;
	border-top: 3px solid;
	border-bottom: 3px solid;
	padding: 10px 20px;
	margin: 5px 0;
}

@media all and (max-width: 990px) {
	aside {
		display: none;
	}

	main {
		width: auto;
	}

	.row-1-3, .row-2-3 {
		width: 48%;
	}

	.row-3-3 {
		width: auto;
	}

	footer {
		border-radius: 0;
	}
}