/*------------------
  FONT IMPOTS
-------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*------------------
  RESET
-------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
    /* ie 6/7 */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*------------------
  MAIN STYLES
-------------------*/

body {
    font-family: 'Open Sans', sans-serif;
}

.advert {
    display: none;
}

.title-box {
    background-color: #FFE599;
    font-size: 1.3em;
    padding: 1em;
}

.title-box h1 {
    margin-left: -.7em;
}

.header-box {
    background-color: #B6D7A8;
    padding: 1.3em;
    text-align: center;
}

.header-box h1 {
    font-size: 1.6em;
    font-weight: 600;
}

.header-box h3 {
    font-size: 1.1em;
    padding-top: .5em;
}

.header-box p {
    font-size: .8em;
    font-weight: 100;
}

.article-container {
    margin: 0;
    width: 100%;
    overflow: auto;
}

article {
    background-color: #A2C4C9;
    margin: 1em;
    padding: .7em;
}

article h1 {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    padding: .3em;
}

article h2 {
    font-size: 1.2em;
    font-weight: 600;
    padding: .3em 0;
}

article span {
    font-weight: 600;
}

main article p:first-of-type {
    text-align: center;
}

.post-1 {
    float: left;
    width: 50%;
    margin-bottom: -1em;
}

.post-2 {
    float: right;
    width: 50%;
}

.post-3 {
    display: inline-block;
    margin-top: .2em;
    margin-top: 0;
}

footer {
    background-color: #9FC5F8;
    margin: : 1em;
    padding: .7em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*------------------
  MEDIA QUERIES
-------------------*/

@media (min-width: 990px) {
    main {
        position: absolute;
        right: 2em;
        width: 75%;
    }
    article {
      margin: .5em;
    }
    .header-box {
        border-radius: 14px;
        margin-top: 1.5em;
    }
    .article-container {
        padding: 0;
        display: flex;
        overflow: hidden;
    }
    .article-container>div {
        flex: 1;
    }
    footer {
        border-radius: 14px;
        float: right;
        margin-top: 1em;
    }
    .advert {
        display: inline-block;
        position: absolute;
        background-color: #D5A6BD;
        height: 74%;
        margin: 1.8em 1.9em;
        width: 18%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .advert>img {
      width: 5em;
      height: auto;
      margin: 1em auto;
    }
}
