.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: rgb(230, 228, 57);
  padding: 0 0 5px 5px;
  border-bottom: 2px solid #333;
}

@media (min-width: 900px) {
  main {
    position: relative;
    top: 50px;
    margin: 25px 100px;
  }
  aside {
    float: left;
    height: 500px;
    width: 225px;
    background-color: #ad3cdb;
    border: 2px solid #333;
    position: relative;
    div.ad-sidebar {
      text-align: center;
      transform: translateY(40%);
    }
  }
  footer {
    position: relative;
    top: 50px;
    margin: 0 100px;
  }
}

@media (max-width: 899px) {

}
