h1{
  font-size: 30px;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 15px
}

#page-header{
  background-color: #FE9;
  width: 100%;
  position: fixed;
  height: 40px;
  border: 2px solid black;
  top: 0;
  h2{
    margin: 10px 10px;
  }
}

main{
  width: 100%;
  margin: 44px auto;

  #main-header{
    background-color: #BDA;
    display: inline-block;
    width: 100%;
    height: 100px;
    top: 0;
    border: 2px solid black;
      h1, h2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
      h1{
        font-weight: bold;
      }
      h2{
        font-style: italic;
      }
  }

  aside{
  display: none;
  }

  #article-container{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
  }

  article{
    display: inline-block;
    width: 47%;
    margin-left: 10px;
    border: 2px solid black;
    vertical-align: top;
    background-color: #ACC;
    header{
      margin-top: 15px;
      background-color: inherit;
      width: 100%;
      h2{
        font-weight: bold;
        text-align: center;
      }
      h3{
        font-weight: bold;
        margin: 0 0 10px 20px;
      }
      .pubdate{
        text-align: center;
        font-weight: normal;
        margin: 10px auto;
      }
    }



    p{
      margin: 0 0 20px 20px;
    }
   
  }


  #another-posty-post{
    float: right;
    margin-right: 10px;
  }

  #posty-post{
    height: 20%;
    width: 100%;
    margin-top: 20px;
  }
}



    

footer{
  background-color: #ACC;
  display: inline-block;
  width: 100%;
  border: 2px solid black;
  margin-top: 20px;
  height: 10%;
  p{
    margin: 10px 0 0 10px;
  }
}