a:link,
a:active,
a:visited,
a:hover,
a
{
    text-decoration: none;

    color: inherit;
}

body
{
    font: 16px/22px 'Open Sans', Arial, sans-serif;

    color: #2d2d2d;
}

h1
{
    font-size: 2em;
}

h2,
h3
{
    font-size: 1.5em;
}

h1,
h2,
h4
{
    font-weight: 700;
}

h3
{
    font-weight: 300;
}

header
{
    display: flex;

    text-align: center;

    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}


header > *
{
    width: 100%;
}

main
{
    display: flex;

    padding: 5px;

    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

nav
{
    position: fixed;
    top: 0;

    width: 100%;
    padding: 15px 0 15px 25px;

    text-align: left;

    border-bottom: 2px solid;
    background-color: #ffe599;
}

nav,
#main-header,
#main-footer,
.post
{
    border-color: #2d2d2d;
}

#ad
{
    display: none;
}

#header-title
{
    margin-bottom: 20px;
}

#main-header
{
    height: 100px;

    border-bottom: 2px solid;
    background-color: #b6d7a8;

    flex: 1 0 auto;
}

#main-footer
{
    border-top: 2px solid;
    background-color: #9fc5f8;
}

#main-footer,
.post
{
    padding: 10px;
}

.capitalize
{
    text-transform: capitalize;
}

.content-containter
{
    display: flex;

    flex: 3 0;
    flex-flow: row wrap;
}

.outer-container
{
    display: flex;

    margin-top: 54px;

    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.post
{
    margin: 5px;

    border: 2px solid;
    border-radius: 5px;
    background-color: #a2c4c9;

    flex: 1 0 35%;
}

.post-title,
.post-title h2
{
    margin-bottom: 10px;
}

.post-content h4
{
    font-size: 19px;

    margin-bottom: 10px;
}

.post-content p
{
    margin-bottom: 25px;
}
