a:link,
a:active,
a:visited,
a:hover,
a
{
    text-decoration: none;

    color: inherit;
}

body
{
    font: 16px/22px 'Open Sans', Arial, sans-serif;

    color: #2d2d2d;
}

h1
{
    font-size: 2em;
}

h2,
h3
{
    font-size: 1.5em;
}

h1,
h2,
h4
{
    font-weight: 700;
}

h3
{
    font-weight: 300;
}

header
{
    display: flex;

    text-align: center;

    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}


header > *
{
    width: 100%;
}

main
{
    display: flex;

    margin: 10px 0;

    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

nav
{
    position: fixed;
    top: 0;

    width: 100%;
    padding: 15px 0 15px 25px;

    text-align: left;

    border-bottom: 2px solid #2d2d2d;
    background-color: #ffe599;
}

#ad,
#main-header,
.post,
#main-footer
{
    padding: 10px;

    border: 2px solid #2d2d2d;
    border-radius: 5px;
}

#ad
{
    display: flex;

    width: 175px;
    height: 400px;
    margin-top: 10px;

    text-align: center;

    background-color: #d5a6bd;

    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#header-title
{
    margin-bottom: 20px;
}

#main-header,
#main-footer
{
    border-radius: 30px;
}

#main-header
{
    height: 100px;

    background-color: #b6d7a8;

    flex: 1 0 auto;
}

#main-footer
{
    background-color: #9fc5f8;
}

.capitalize
{
    text-transform: capitalize;
}

.content-containter
{
    display: flex;

    margin: 10px;

    flex: 3 0;
    flex-flow: row wrap;
}

.outer-container
{
    display: flex;

    width: 990px;
    margin-top: 54px;
    margin-right: auto;
    margin-left: auto;

    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.post
{
    margin-right: 10px;

    background-color: #a2c4c9;

    flex: 1 0;
}

.post:last-child
{
    margin-right: 0;
}

.post-title,
.post-title h2
{
    margin-bottom: 10px;
}

.post-content h4
{
    font-size: 19px;

    margin-bottom: 10px;
}

.post-content p
{
    margin-bottom: 25px;
}
