@import '_reset'




// vars
$nav-bar: #ffe599
$ad: #d5a6bd
$title: #b6d7a8
$posts: #a2c4c9
$disclaimer: #9fc5f8




// background colors for element clarity
.nav-bar
  background-color: $nav-bar

aside
  background-color: $ad

.title
  background-color: $title

article
  background-color: $posts

footer
  background-color: $disclaimer