@import '_reset'




// vars
$nav-bar: #ffe599
$ad: #d5a6bd
$title: #b6d7a8
$posts: #a2c4c9
$disclaimer: #9fc5f8

$breakpoint: 990px




// base
*
  box-sizing: border-box
  font-family: sans-serif
  font-size: 14px

@mixin font-stuff($size: "", $weight: "", $align: "", $style: "")
  font-size: #{$size}
  font-weight: #{$weight}
  text-align: #{$align}
  font-style: #{$style}

.nav-bar
  font-family: sans-serif
  font-size: 1.2em
  line-height: 1.5em

aside, .title
  @include font-stuff($align: center)

h1
  @include font-stuff(2em, bold)

h2
  @include font-stuff($style: italic)

h3
  @include font-stuff(1.3em, bold, center)
  padding: 6px 0

h4
  @include font-stuff($align: center)
  padding-bottom: 15px

h5
  @include font-stuff($weight: bold)
  padding-bottom: 10px

p
  padding-bottom: 18px




// background colors for element clarity
.nav-bar
  background-color: $nav-bar

aside
  background-color: $ad

.title
  background-color: $title

article
  background-color: $posts

footer
  background-color: $disclaimer




// float and clearfix
%float
  float: left

%clearfix:after
  content: ""
  display: table
  clear: both




// positioning styles
.nav-bar
  position: fixed
  width: 100%

main
  @extend %clearfix
  width: $breakpoint
  margin: 0 auto

aside
  @extend %float
  position: relative
  height: 400px
  width: 220px

.ad-content
  position: absolute
  left: 0
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

section
  @extend %float
  width: 762px

article
  @extend %float
  width: 250px

footer
  clear: both




// element/module styling
%module
  border: 2px solid #000
  padding: 10px

%rounded
  border-radius: 15px

%whitespace
  margin-right: 6px

.nav-bar
  @extend %module
  height: 50px

aside
  @extend %module
  @extend %whitespace
  margin-top: 60px

section
  margin-top: 60px

.title
  @extend %module
  @extend %rounded

article
  @extend %module
  margin: 8px 0

  &:not(:last-of-type)
    @extend %whitespace

footer
  @extend %module
  @extend %rounded




// media queries

@media only screen and (max-width: $breakpoint)
  aside
    display: none

  section
    width: calc($breakpoint - 20px)

  article
    margin: 10px
    width: 463px

  article:last-of-type
    clear: both
    width: 97%