				

@import "_css_reset.scss";
@import "_variables.scss";

* {
	outline: 1px solid gray;
}

h1 + h3, h1 + h4{
	font-weight: normal;
}

#wrapper {
	width:80%;
	margin: 0 auto;
	display:flex;
}

nav{
	display: block;
	height: 3em;
	background: $third_color;
	p{
		display: inline-block;
		position: relative;
		top: 1.0em;
		left: 0.6em;
		font-size: 1.2em;
		font-weight: bold;
	}
}

aside{
	width: 18%;
	background: $ad_color;
	display: flex;
	margin-top: 1em;
	margin-right: 1em;
	height: 60%;
	text-align: center;
		#ad_box{
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 35em;
			h1{
				font-size: 1.2em;
			}
			figure{
				display: flex;
				height: 8em;
				width: 8em;
				align-self: center;
			}
		}
}

main{
	width: 80%;
 	>header{
 		margin-top: 1em;
		height: 10%;
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid red;
		background: yellow;
		h1{
			align-self: center;
			margin-bottom: 0;
			font-size: 1.4em
		}
		h3{
			align-self: center;
			font-style: italic;
			margin-top: 0.2em;
			font-size: 0.8em
		}
	}
}

article{
	
}