@import 'reset';

body {
  font-family:"Comic Sans Ms"
}
.fixed-nav-bar{
  position:fixed;
  background-color: #ffe599;
  top: 0;
  left:0;
  width: 100%;
  height: 50px;
  z-index: 9999;
  border-bottom: 3px solid black;
  p {
    margin-top: 16px;
    margin-bottom: 18px;
    margin-left: 15px;
  }
}


main {
  height:auto;
  width:990px;
  margin: 60px auto 0 auto;
  .adbox, article, footer, header {
    border: 2px solid black;
  }
  .adbox {
    background-color: #d5a6bd;
    float:left;
    height:430px;
    width:234px;
  }
}

#advert {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  p {
    margin-left:5px;
    margin-bottom: 15px;
  }
  img {
    height:205px;
    width: 205px;
    border: 2px solid black;
  }
}

.content {
  float:right;
  width:740px;
  header {
    background-color: #b6d7a8;
    width:740px;
    border-radius: 10px;
    text-align: center;
    height:75px;
    margin-bottom: 12px;
    h1 {
      font-size:28px;
      font-weight: bold;
      padding-top:12px;
      margin-bottom:5px;
    }
    p {
      font-style: italic;
    }
  }
}

.adbox, .article-left, .article-center, .article-right {
  width:234px;
}

section.articles {
  article {
    display: inline-block;
    vertical-align: top;
    background-color: #a2c4c9;
  }

  .article-left, .article-center {
    margin-right:10px;
  }
}

article {
  .article-title {
    font-weight: bold;
    font-size:20px;
    margin-top:15px;
    margin-bottom:7px;
  }
  .title-header {
    text-align: center;
  }
  p.title-header {
    margin-bottom: 15px;
  }
  h4 {
    font-weight:bold;
    font-size:18px;
    margin-bottom:15px;
  }
  p.paragraph, h4{
    margin-left:15px;
    margin-bottom:20px;
    margin-right:15px;
  }
}

footer {
  margin-top:15px;
  border-radius: 10px;
  padding:10px;
  background-color: #a2c4c9;
}

@media (max-width:990px) {
  .fixed-nav-bar {
    width:100%;
  }
  main {
    width:100%;
    margin: 50px auto 0 auto;
  }
  .content {
    width: 100%;
  }
  header {
    width:100%;
    border-radius: 0px;
  }
  .adbox {
    display: none;
  }
  .articles {
    width:94%;
    margin:auto;
  }

  .article-left, .article-center {
    width: 44%;
  }

  .article-left {
    margin-right: 4%;
  }

  .article-right {
    margin-top: 18px;
    width:100%;
  }

  footer {
    width:calc(100%-11px);
    border-radius: 0px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
