body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial;
}

#navbar {
	background-color: #EEDC82;
	padding: 0;
	margin: 0 0 0 0;
	height:60px;
	position: fixed;
	width: 100%;
	top:0;
	vertical-align: center;
	display: flex;
   	font-size: 20px;
    letter-spacing: 1px;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: absolute;
  }

.adbox {
  
background-color: #ffb6cd;
    width: 300px;
    border: 2px solid black;
    padding: 0px;
    margin-top: 0px;
    margin-left: 255px;
    
    height:600px;
     display: flex;
  align-items: center;
  justify-content: center;
  
  flex-direction:column;
}

figcaption {
  text-align: center;
  width: 82%;
  padding-left: 20px;
  word-wrap: break-word;
}
 

img {
  margin-top: 16px;
}

  

}

.ad-text {
  font-weight: 550;
  font-size: 550px;
  position: relative;

  
}

.equal-height-container {
  max-width: 1000px;
  margin: 10px auto;
  margin-right: 320px;
  border:5px solid white;	 
  margin-top: -610px;
  height: 784px;


}

.first {
  background-color: white;
  
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between; 
  height:80px;
 
}
.box-1, .box-2, .box-3, .box-4, {
  height: 100px;
  background: red;
  
  width:220px;
  margin:5px;
  }


.box-1 {
background-color: #b6d7a8;
flex-basis:100%;
border-radius: 25px;
height:100px;
margin-bottom: 16px;
border:2px solid black;
text-align: center;
 flex-shrink: 0;

}

.header-text {
  font-size: 30px;
  font-weight: 550;
  margin-top:17px;
  margin-bottom: 8px;
}

cite {
  font-size: 20px;
}

.box-2 {
 background-color: #48D1CC;
flex-basis:32%;
height:575px;
margin-bottom: 3px;
border:2px solid black;
text-align: center;
}

.subhead {
font-size: 19px;
font-weight: 550;
text-align: left;
margin-left: 14px;
}

.blog-text {
font-size: 17px;
text-align: left;
line-height: 22px;
margin-left: 14px;
margin-right: 14px;
}

.box-header {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 26px;
}

.box-3 {
background-color: #48D1CC;
flex-basis:32%;
height:300px;
border:2px solid black;
text-align: center;
}

.box-4 {
 background-color: #48D1CC;
 flex-basis:32%;
 height:460px;
 border:2px solid black;
 text-align: center;
}

.box-5 {
  background-color: DeepSkyBlue;
  flex-basis:100%;
  height: 82px;
  
  margin-top: 5px;
  border-radius: 22px;
  border:2px solid black;
  font-size: 16px;
  

   }

.footer-text {
text-align: left;
margin-left: 14px;
margin-right: 14px;
}


