$default-border: 3px solid black; 
$default-margin: 8px;

html{
	height: 100%; 
}

body{ 
	font-family: "Comic Sans MS", cursive, sans-serif; 
	height: 100%; 
	}

.page-banner{
	background-color: #ffe599;
	position: fixed; 
	top: 0;
	z-index: 1; 
	width: 100%;  
	border: $default-border; 
	p{
		padding: 15px; 
		font-size: large; 
	}
}

.all-the-things{ 
	// height: 100%;
	// width: 80%; 
	// margin: 0 auto;
	margin-top: 52px; 
}

aside{
	display: none; 
	position: relative; 
	background-color: #d5a6bd; 
	width: 20%;
	border: $default-border; 
	margin: $default-margin;
	float: left; 
	height: 450px;

	.advertisment{
		position: absolute; 
		top: 50%; 
		transform: translateY(-50%); 
		margin: 5px; 
	}

	p{
		text-align: center; 
		line-height: 130%; 
		margin-bottom: 5px; 
		font-size: small; 
		font-weight: 600; 
	}

	img{ 
		display: block;
		width: 85%; 
		margin: auto;
	}
}


main  { 
	// width: 75%;
	// float: left; 
	// margin: $default-margin; 
}

.blog-header{
	background-color: #b6d7a8; 
	border: $default-border;
	text-align: center; 
	padding: 10px; 
	line-height: 200%; 
	h1{
		font-size: larger; 
		font-weight: bold; 
	}
	p{
		font-style: italic; 
	}
}

article{ 
	background-color: #a2c4c9; 
	border: $default-border;
	margin: $default-margin 3px;
	width: 29%; 
	min-width:49%;
	padding: 12px; 
	float: left; 
	box-sizing: border-box; 
	font-size: small; 

	header{ 
		text-align: center; 
		line-height: 140%;
		margin: 4px; 
		}

	h2{ 
		font-size: large; 
		font-weight: bold; 
		letter-spacing: 1px; 
	}

	.post-date{ 
		font-size: smaller;  
		letter-spacing: -1px; 
	}

	h3{
		font-weight: bold; 
		line-height: 160%; 
		margin: 5px auto; 
	}
}

footer{
	background-color: #9fc5f8; 
	border: $default-border;
  padding: 5px;
	clear: left; 
	font-size: small; 
}
