@import url('https://fonts.googleapis.com/css?family=Nova+Oval');

$common-border: solid #333 thin;

$white-space-canon: 1em;

@mixin header-footer {
	border-radius: $white-space-canon; 
	border: none; margin-right:2em; 
	margin-left: 2em;
}

body {
	font-size: 110%;
	font-family: 'Nova Oval', cursive;
	margin: 0;
}

header {
	margin: auto;	
}

#title-header {
	background-color: DarkSeaGreen;
	text-align: center;
	padding: $white-space-canon;
	border-bottom: $common-border;
	margin-bottom: $white-space-canon;
}

#title-header p {
	font-size: 2em;
}

main {
	padding: 0 $white-space-canon;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

article {
	background: 	#66CDAA;
	border: $common-border;
	padding: 2em;
	flex-basis: 35%;
	margin: 1%;
	flex-grow: 1;
}

p {font-size: 1.2em;}
h3 {font-size: 2.2em;}
h2 {font-size: 2.4em;}
h1 {font-size: 2.6em;}

h1, h2{
	text-align: center;
}

#why-do-we-have-this {
	padding: $white-space-canon 0.3em;
	background-color: yellow;
	border-bottom: $common-border;
}

footer p {
	font-size: .8rem;
	padding: $white-space-canon;
	background: cyan;
	border-top: $common-border;
	border-bottom: $common-border;
	flex-grow:1;
}

#my-ad {display: none;}

/* ------------------------ */

@media (min-width: 990px){
	body {
		display: flex;
		flex-wrap: wrap;
	}

	main {
		flex-wrap:nowrap;
	}

	#why-do-we-have-this {
		width: 100%;
		margin-bottom: $white-space-canon;
	}

	#my-ad {
		display: block; flex-basis:33%; 
		border: $common-border; 
		padding: 10em $white-space-canon; 
		margin:0 $white-space-canon;
		background-color: #E9967A;}

	.container-outer {
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-start;
	}

	footer { width: 100%; margin-left: 333px; }

	#title-header, footer p { @include header-footer;}

}