body{
	background-color:#FFF;
}

nav{
	background-color:#FFE599;
	width:100%;
	height:75px;
	font-size:3em;
}

aside{
	background-color:#D5A6BD;
}

section{
	background-color:#B6D7A8;
}

article{
	background-color:#A2C4C9;
}

footer{
	background-color:#9FC5F8;
}
