*{
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

nav{
	background-color: #dfa;
	border: 2px solid black;
	position: fixed;
	display: block;
	width: 100%;
	box-sizing: border-box;
	h1{
		font-size: 18px;
		padding: 10px;
	}
}

.main-page-container{
	@media (min-width: 990px) {
		width: 990px;
		padding-top: 60px;
	}
	margin: 0 auto;
	padding-top: 40px;
}

aside{
	box-sizing: border-box;
	background-color: #f9b;
	height: 450px;
	display: inline-block;
	width: 23%;
	float: left;
	margin-top: 30px;
	border: 3px solid black;
	text-align: center;
	padding-top: 5px; 	/* FIXME : Good way of vertical align?*/
	padding-bottom: 5px;
	h1{
		padding-bottom: 10px;
		font-size: 16px;
		font-weight: bold;
		font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	}
	@media (max-width: 990px) {
		display: none;
	}
}

main{
	box-sizing: border-box;
	@media (min-width: 990px) {
		padding: 30px 0 5px 0;
		width: 75%;
	}
	float: right;
	.articles-header{
		box-sizing: border-box;
		background-color: #6ada98;
		border: 3px solid black;
		@media (min-width: 990px) {
			border-radius: 20px;
		}
		height: 100px;
		text-align: center;
		h1{
			padding: 10px;
			font-size: 30px;
		}
		h2{
			font-style: italic;
		}
		@media (max-width: 990px) {
			width: 100%;
		}
	}
	section{
		min-width: 610px;
		@media (max-width: 990px) {
			padding-left: 10px;
		}
	}
}

article{
	vertical-align: top;
	background-color: #aaa;
	border: 3px solid black;
	display: inline-block;
	@media (min-width: 990px) {
		width: 31.9%; /* FIXME hack? */
	}
	width: 48%;
	padding: 10px;
	margin-top: 10px;
	box-sizing: border-box;
	header{
		font-size: 22px;
		text-align: center;
	}
	time{
		text-align: center;
		font-size: 13px;
	}
	h2{
		font-size: 16px;
		font-weight: bold;
		margin-top: 10px;
	}
	p{
		padding-top: 10px;
		font-size: 13px;
		line-height: 20px;
	}
}

#middle-article{
	margin: 10px;
}

#last-article{
	@media (max-width: 990px) {
		width: 97%;
		margin-bottom: 20px;
	}
}

footer{
	background-color: #8bf;
	clear: both;
	@media (min-width: 990px) {
		border-radius: 20px;
		margin: 5px 0 0 250px;/* FIXME hack? */
	}
	border: 3px solid black;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 1px;
	padding: 10px;
}