/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ===========================
  Background Color Styles
  ===========================
*/

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}

.lightgreen {
  background-color: lightgreen;
}

.aqua {
  background-color: aqua;
}

.lightblue {
  background-color: lightblue;
}

/*
  =============================
  Text Styles
  =============================
*/

h1, h2, h3, h4 {
  text-align: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 15px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-style: italic;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  padding: 5px;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 5px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  padding: 5px;
}

/*
  =============================
  Navigation
  =============================
*/

.navbar {
  width: 100%;
  padding: 20px;
  margin: 0 0 10px 0;
  border-bottom: 3px solid black;
}

.navbar h2 {
		text-align: left;
}

/*
  ===============================
  Positioning
  ===============================
*/

div {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 990px;
  margin: 0 auto;
  padding: 0;
}

.ad {
  width: 210px;
  height: 400px;
  margin: 0;
  text-align: center;
  padding-top: 100px;
  border: 3px solid black;
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 780px;
  margin: 0;
  padding: 0;
}

.post {
  width: 240px;
  margin: 0 10px 10px 10px;
  border: 3px solid black;
  padding: 5px;
}

.post h2 {
	padding-bottom: 5px;
}

img {
  margin: 10px;
}

.title {
  width: 100%;
  border: 3px solid black;
  border-radius: 15px;
  padding: 20px;
  margin: 0 10px 10px 10px;
}

.footer {
  border: 3px solid black;
  border-radius: 15px;
	margin: 0 10px 10px 10px;
}
