/* VARIABLES */
$border-default: 1px solid black;

/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CONTENT*/

*,
*:before,
*:after {
  box-sizing: border-box;
} 

nav {
  height: 40px;
  width: 100%;
  text-align: left;
  top: 0;
  position: fixed;
  background-color: #ffe599;
  border-bottom: $border-default;
  padding: 10px 12px;
  font-size: 18px;
  font-weight: bold;
  z-index: 100;
}

.left-sidebar {
  display: inline-block;
  float: left;
  width: 20%;
  vertical-align: top;
  padding-top: 50px;
  padding-right: 10px;
  text-align: right;
}

.ad {
  border: $border-default;
  display: inline-block;
  align-items: center;
  vertical-align: top;
  background-color: #d5a6bd;
  width: 80%;
  height: 400px;
  position: relative;

  span {
    display: block;
    width: 90%;
    position: absolute;
    top: 26%;
    left: 6%;
    text-align: center;
    font-weight: bold;
  }

  img {
    width: 90%;
    height: 48%;
    margin-top: 10px;
  }
}

main {
  display: inline-block;
  width: 80%;
  padding-top: 50px;
  padding-right: 7%;
}

header {
  background-color: #b6d7a8;
  padding: 12px;
  text-align: center;
  border: $border-default;
  border-radius: 10px;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

header h3 {
  font-style: italic;
  font-size: 16px;
}

.article-container {
  width: 100%;
}

article {
  display: inline-block;
  margin-right: 2%;
  width: 32%;
  vertical-align: top;
  background-color: #a2c4c9;
  margin-top: 10px;
  padding: 12px;
  border: $border-default;

  span {
    display: block;
    font-size: 16px;
    text-align: center;
    margin-bottom: 12px;
  }

  :last-child {
    margin-right: 0;
  }
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
} 

h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
  line-height: 1.3em;
}

footer {
  background-color: #9FC5F8;
  margin-top: 10px;
  border: $border-default;
  border-radius: 10px;
  padding: 10px;
  line-height: 1.3em;
}

@media (max-width: 990px) {

.left-sidebar {
  display: none;
}

main {
  width: 100%;
  padding-right: 2%;
  padding-left: 2%;
}

header {
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin: -10px -2.1% 10px -2.1%;
}

footer {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  margin: 10px -2.1% 10px -2.1%;
}

article {
  width: 100%;
}

}