@import 'reset';

$header-color: #ffe599;
$main-color: #b6d7a8;
$article-color: #a2c4c9;
$aside-color: #d5a6bd;
$footer-color: #a2c4c9;
$container-height: 900px;
$font-stack: Helvetica, sans-serif;
$border-stack: 1px solid #000;

@mixin box-sizing {
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}

body {
  font-family: $font-stack;

  .primary-header {
    background: $header-color;
    border: $border-stack;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;

    h1 {
      font-size: 32px;
    }
  }

  .container {
    @include box-sizing;
    float: center;
    max-height: $container-height;
    position: relative;
    top: 52px;

    main {
      background: $main-color;
      border: $border-stack;
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 10px;
      position: relative;
      text-align: center;
      top: 30px;
      width: 100%;

      h2 {
        font-size: 18px;
        padding: 10px;
      }

      h3 {
        font-size: 16px;
        padding: 10px;
      }
    }

    aside {
      background: $aside-color;
      border: $border-stack;
      border-radius: 5px;
      bottom: 322px;
      display: none;
      height: 600px;
      margin: 0 2.5%;
      padding: 10px;
      position: relative;
      text-align: center;
      width: 20%;

      .advertisement {
        margin-top: 200px;
      }

      img {
        height: 100%;
        width: 100%;
        padding: 10px 0;
      }
    }

    article {
      background: $article-color;
      border: $border-stack;
      border-radius: 5px;
      box-sizing: border-box;
      display: inline-block;
      margin: 1%;
      padding: 15px 10px;
      position: relative;
      top: 50px;
      width: 48%;

      header {
        font-size: 24px;
        text-align: center;
      }

      .date {
        padding: 5px 0 15px 0;
        text-align: center;
      }

      h4 {
        font-size: 18px;
        font-weight: 700;
      }

      p {
        padding: 5px 0;
      }
    }

    .second {
      position: absolute;
      top: 166px;
    }

    .third {
      margin: 0 auto;
      left: 1%;
      position: relative;
      width: 98%;
    }

    footer {
      background: $footer-color;
      border: $border-stack;
      float: right;
      margin-top: 10px;
      padding: 10px;
      position: relative;
      top: 120px;
      width: 100%;
    }
  }
}