$ad-background-color: #c9c;
$ad-text-color: #333;
$article-background-color: #9cc;
$author-font-color: #666;
$border: 1px solid #333;
$footer-background-color: #9cf;
$footer-font-color: #555;
$h1-font-color: #333;
$h2-font-color: #222;
$page-header-background-color: #cc9;
$site-header-background-color: #fc9;
$site-header-height: 40px;
$time-color: #666;




/*
 * Mixin for vertical aligning stuff.
 *
 */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

html,
body {
  font-family: helvetica, arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}




/*
 * Site header (nav bar) css.
 *
 */
.site-header {
  background-color: $site-header-background-color;
  border-bottom: $border;
  height: 40px;

  h1 {
    @include vertical-align();
    color: $h1-font-color;
    font-size: 23px;
    font-weight: bold;
  }
}




/*
 * Container for everything but the nav bar.
 *
 */
.everything-except-site-header {
  position: relative;

  footer {
    background-color: $footer-background-color;
    border: $border;
    box-sizing: border-box;
    display: block;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 10px;

    p {
      color: $footer-font-color;
      font-size: 12px;
    }
  }
}

aside {
  display: none;
}

.title-content-container {
  min-height: 100%;
  display: block;

  .page-header {
    background-color: $page-header-background-color;
    border: $border;
    box-sizing: border-box;
    display: block;
    height: 70px;
    text-align: center;

    section {
      @include vertical-align();

      h1 {
        color: $h1-font-color;
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 8px;
      }

      p {
        color: $author-font-color;
        font-size: 15px;
        font-style: italic;
      }
    }
  }




/*
 * Container for blog posts.
 *
 */
  main {
    margin: 10px 10px;
    padding-bottom: 100px;

    article {
      background-color: $article-background-color;
      border: $border;
      box-sizing: border-box;
      padding: 15px;
      display: inline-block;

      header {
        text-align: center;

        h1{
          color: $h1-font-color;
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 3px;
        }

        time {
          color: $time-color;
          font-size: 14px;
        }
      }

      .post-body {

        h2 {
          color: $h2-font-color;
          font-weight: bold;
          font-size: 15px;
          margin-top: 10px;
        }

        p {
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }
  }
}

.article-one {
  margin-bottom: 10px;
  margin-right: 6px;
  vertical-align: top;
  width: calc(100%/2 - 5px)
}

.article-two {
  vertical-align: top;
  width: calc(100%/2 - 6px)
}

.article-three {
  display: block;
}