$border: 2px solid #000;
body{
	font-family: sans-serif;
	width: 990px;
	margin-top: 45px;
}
h1{
	font: {
		weight: bold;
		size: 20px;
	}
}
h2{
	font-size: 16px;
}
h3{
	font-size: 12px;
}
nav{
	background: #FFE599;
	border: $border;
	position: fixed;
	padding-left: 10px;
	width: 100%;
	top: 0;
	line-height: 40px;
	vertical-align: center;
}
header{
	background: #B6D7A8;
	border: $border;
	border-radius: 15px;
	text-align: center;
	float: left;
	width: 630px;
	margin-top: 10px;
	h1{
		padding: 10px;
	}
	h2{
		padding-bottom: 10px;
	}
}
.ad{
	background: #D5A6BD;
	border: $border;
	float: left;
	width: 180px;
	height: 360px;
	margin: 10px 15px 0 100px;
	line-height: 1.25;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font: {
		weight: bold;
		size: 14px;
	}
}
article{
	background: #A2C4C9;
	border: $border;
	width: 200px;
	display: inline-block;
	vertical-align: top;
	margin: 10px 5px 10px 0;
	p{
		font-size: 13px;
		padding: 5px;
		line-height: 1.25;
	}
	h2{
		text-align: center;
		padding: 7px 0;
		font-weight: bold;
	}
	h3{
		text-align: center;
	}
	h4{
		padding: 7px;
		font: {
			size: 13px;
			weight: bold;
		}
	}
}
footer{
	background: #9FC5F8;
	border: $border;
	line-height: 1.25;
	font-size: 11px;
	border-radius: 15px;
	padding: 5px;
	width: 620px;
	margin-left: 300px;
}