

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}



html,
body {
  color: #222;
  font-size: 1em;
  font-family: "fira Sans Extra Condensed", Arial, Helvetica, sans-serif;
  }

h1{
  font-size: 2.5em;
  font-weight: bold;
}

h3{
font-size: 1.6em;
font-weight: 600;
}

h4{
  font-size: 1.24em;
  font-weight: 600;
}

h6{
  font-size: 1.1em;
  font-weight: 400;
}

.main_header{
  overflow-y: hidden;
  position: fixed;
  top: 0;
  margin-bottom: 1em;
  width: 100%;
  background:#FFE599;
text-align: left;
color: #222;
padding: 0.8em;
border: 3px solid #222;
}

.container{
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  text-align: center;
  align-items: flex-start; 
margin: 6em;
  margin-top:4em;
}
.ad_content { 

background: #D5A6BD;
display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
border: 2px solid #222;
min-height: 550px;
}


.ad_content img {
   height: auto;
   padding: 8px;
}


.wrapper{
  margin: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  background: #b6d7a8;
  border: 2px solid #222;
  border-radius: 20px;
  text-align: center;
}

#byline{
  font-style: italic;
}

.footer {
  margin-top: 1em;
  padding: 10px; 
  border: 2px solid #222;
  border-radius: 20px;
  background: #A2C4C9;
}

#posts{
  margin-top: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: flex-start;
justify-content: space-between;
}

#posts > *{
  text-align: left;
  background: #A2C4C9;
  border: 2px solid #222; 
  padding: 10px;
}

.post-2{
  margin-left: 10px;
  margin-right: 10px;
}

.post_name, .date{
  text-align: center;
}

p{
 padding: 4px;
  margin: 5px; 
}


/*responsive settings*/
@media screen and (max-width: 980px) {
  #posts{
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1em;
  }

.post-1, .post-2{
  flex: 1;
  margin-bottom: 10px;
}

  .container {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    margin-top: 3em;
    padding: 0;
    max-width: 100%;
  }

  .ad_content{
    display: none;
  }

  .wrapper {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  
.post-2{
  margin-right: 0;
}

  .header, .footer{
  margin: 0;
  border-radius: 0px;
}
body{
  margin: 0px;
}
}
