/* Main body styling */

body {
  background-color: #FFF;
  font-family: "Courier New", Arial, sans-serif;
}

/* Header line-height */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* Navigation bar */
.navbar {
  background-color: #FEE49D;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  top: 0;
  width: 100%;
  overflow: hidden;
  position: fixed;
}