body{
  font-family: helvetica, sans-serif;
}

header {
  height: 50px;
  background-color: #FDE698;
  border-bottom: 3px solid black;
  h3{
    font-size: 18px;
    padding-left: 10px;
    line-height: 50px;
  }
}

aside{
  float: left;
  margin-left: 120px;
  margin-top: 10px;
  width: 200px;
  height: 500px;
  border: 3px solid black;
  background-color: #D7A5C0;
  h3{
    font-size: 16px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 6px;
    text-align: center;
  }
  img {
    height: 180px;
    width: 180px;
    margin-left: 7px;
    border: 3px solid black;
  }
}




.main-section {
  margin-left: 340px;
  margin-top: 10px;
  .section-title{
    width: 598px;
    border: 3px solid black;
    background-color: #B4D8A8;
    border-radius: 10px;
    padding-top: 10px;
    h1{
      text-align: center;
      font-size: 28px;
      font-weight: 600;
    }
    h3{
      text-align: center;
      font-size: 18px;
      font-style: italic;
      padding: 10px;
    }
  }
}

article {
  width: 185px;
  display: inline-block;
  border: 3px solid black;
  margin: 10px 10px 10px 0;
  background-color: #A2C3C8;
  vertical-align: top;
  h2 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 10px 10px 6px 10px;
  }
  h4{
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
  }
  .article-text{
    h4{
      font-weight: 700;
      text-align: left;
      margin: 10px;
    }
    p{
      font-size: 14px;
      margin: 10px;
    }
  }
}
.full-width-small-screen{
  display: inline-block;
}

footer{
  background-color: #9BC7F7;
  border: 3px solid black;
  border-radius: 20px;
  width: 574px;
  padding: 6px 12px;
  p{
    font-size: 14px;
  }
}


@media (max-width: 990px){
  
  aside{
    display: none;
  }

  .main-section{
    margin: 0px;
    .section-title{
      width: 100%;
      border-radius: 0px;
      border: none;
      border-bottom: 3px solid black;
    }
    article {
      margin: 10px 0 10px 10px;
      width: calc(50% - 20px)

    }
  }

  .full-width-small-screen{
    article{
      width: calc(100% - 24px);
      margin: 10px;
    }
  }

  footer{
    width: calc(100% - 24px);
    border-radius: 0px;
    border: none;
    border-top: 3px solid black;
    margin-bottom: 5px
  }
}

