#nav-bar {
	float: top;
	background-color: #F7E08C;
	width: 100%;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	padding: 10px;
	text-align: left;
	margin-bottom: 10px;
	position: fixed;
	margin-left: 0px;
	border-left: none;

}

#main-header {
	display: block;
	background-color: #c4edc0;
	width: 1000px;
	border-color: black;
	border-style: solid;
	border-radius: 25px;
	text-align: center;
	float: right;
	margin-right: 10px;
	margin-top: 50px;
}

@media (max-width: 990px) {
	#main-header {
		display: inline-block;
		width: 100%;
		border-radius: 0px;
		border-left: none;
		border-right: none;
		margin-right: 0px;
	}
}
.advertisement {
	background-color: #e99dea;
	display: block;
	width: 300px;
	height: 600px;
	float: left;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	margin-left: 100px;
	margin-top: 50px;
	display: table-cell; 
  	vertical-align: middle; 
  	text-align: center;
}

@media (max-width: 990px) {
	.advertisement {
		display: none;
	}
}
  	.img-responsive {
	width: 100%;
	height: auto;
  	border-width: 2px;
	border-color: black;
	border-style: solid;
	margin: 5px;
	max-width: 275px;
}

section {
	background-color: #accee0;
	display: block;
	float: right;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	width: 320px;
	margin: 10px;
	max-height: 450px;
	overflow: auto;
}

footer {
	background-color: #5ebef2;
	display: block;
	float: bottom;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	width: 1000px;
	margin-right: 10px;
	padding: 10px;
	border-radius: 25px;
	position: absolute;
}

@media (max-width: 990px) {
	footer {
		border-radius: 0px;
		border-left: none;
		border-right: none;
		width: 100%;
		max-width: 990px;
    	height: 100%;
    	margin: auto;
    
}
}
