* {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* change the color for debugging*/
}

.top-menu {
  background: #fde3a7;
  padding: 10px;
  width: 100%;
  height: auto;
  margin: 0;
  border-bottom-width: medium;
  border-bottom-color: #34495e;
  border-bottom-style: solid;
  text-transform: capitalize;
  color: black;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 1.1em;
  text-align: left;
}

.main-area-container{
  width: 100%;
  height: 750px;
  background-color: white; /* change the color for debugging*/
  display: flex;
  justify-content: center;
}

.sidebar{
  background-color: #BE90D4;
  width: 220px;
  height: 550px;
  border-style: solid;
  border-color: #34495e;
  margin: 5px;
  padding: 0;
}

.blog-area-container{
  width: 800px;
  height: 100%;
  margin: 5px;
  padding: 0;
  background-color: white; /* change the color for debugging*/
  display: flex;
  flex-wrap: wrap;
}

.header-container{
  padding: 0;
  width: 100%;
  height: 12%;
  background-color: #a2ded0;
  border-style: solid;
  border-width: medium;
  border-color: #34495e;
  border-radius: 20px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}

.content-container{
  padding: 0;
  width: 100%;
  height: 75%;
  background-color: white; /* change the color for debugging*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.article-container{
  flex: 0.5 0 10em;
  padding: 0;
  margin: 5px;
  width: 30%;
  max-height: 98%;
  background-color: #6bb9f0;
  border-style: solid;
  border-width: medium;
  border-color: #34495e;
  overflow-y: auto;
}

.article-header h3{
  text-align: center;
  text-transform: capitalize;
  line-height: 0.5em;
  flex-shrink: 0;
}

.article-header h4{
  text-align: center;
  font-weight: normal;
  line-height: 0.5em;
}

.article-content p{
  text-align: left;
  padding: 10px;
}

.footer-container{
  padding: 0;
  width: 100%;
  height: 9%;
  background-color: #4183d7;
  border-style: solid;
  border-width: medium;
  border-color: #34495e;
  border-radius: 20px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.footer-container p{
  padding: 10px;
  font-size: 0.9em;
}

.side-box{
  margin:0;
  padding:0;
  display: flex;
  width: inherit;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crossed {
    background:
       linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%),
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}

h4{
  text-align: center;
}

.square{
  width: 180px;
  height: 180px;
  background-color: #ecf0f1;
  border-style: solid;
  border-color: #34495e;
}

@media only screen and (max-width: 989px) {
  .sidebar{
    display: none;
  }
}

@media only screen and (max-width: 775px) {
  .top-menu {
    background: #fde3a7;
    padding: 10px;
    width: 100%;
    height: auto;
    margin: 0;
    border-bottom-width: thin;
    border-bottom-color: #34495e;
    border-bottom-style: solid;
    text-transform: capitalize;
    color: black;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 1.1em;
    text-align: left;
  }

  .blog-area-container{
    width: 800px;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white; /* change the color for debugging*/
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .content-container{
    padding: 0;
    width: 100%;
    height: 80%;
    background-color: white; /* change the color for debugging*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .article-container{
    flex: 1 1 15em;
    padding: 0;
    margin: 5px;
    width: 45%;
    max-height: 48%;
    background-color: #6bb9f0;
    border-style: solid;
    border-width: medium;
    border-color: #34495e;
    overflow-y: auto;
  }

  .header-container{
    padding: 0;
    width: 100%;
    height: 9%; /* vs 12% in the bigger screen size*/
    background-color: #a2ded0;
    border-style: solid;
    border-width: medium;
    border-color: #34495e;
    border-radius: 0px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    line-height: 0.75em;
  }

  .footer-container{
    padding: 0;
    width: 100%;
    height: 8%; /* vs 9% in the bigger screen size*/
    background-color: #4183d7;
    border-style: solid;
    border-width: medium;
    border-color: #34495e;
    border-radius: 0px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
  }

  .footer-container p{
    padding: 8px;
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 525px) {
  .sidebar{
    display: none;
  }

  .top-menu {
    background: #fde3a7;
    padding: 10px;
    width: 100%;
    height: auto;
    margin: 0;
    border-bottom-width: thin;
    border-bottom-color: #34495e;
    border-bottom-style: solid;
    text-transform: capitalize;
    color: black;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 1.1em;
    text-align: left;
  }

  .blog-area-container{
    width: 800px;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white; /* change the color for debugging*/
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .content-container{
    padding: 0;
    width: 100%;
    height: 83%;
    background-color: white; /* change the color for debugging*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .article-container{
    flex: 1 1 15em;
    padding: 0;
    margin: 5px;
    width: 95%;
    max-height: 31%;
    background-color: #6bb9f0;
    border-style: solid;
    border-width: medium;
    border-color: #34495e;
    overflow-y: auto;
  }

  .header-container{
    padding: 0;
    width: 100%;
    height: 8%; /* vs 12% in the bigger screen size*/
    background-color: #a2ded0;
    border-style: solid;
    border-width: medium;
    border-color: #34495e;
    border-radius: 0px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    line-height: 0.5em;
  }

  .footer-container{
    padding: 0;
    width: 100%;
    height: 7%; /* vs 9% in the bigger screen size*/
    background-color: #4183d7;
    border-style: solid;
    border-width: medium;
    border-color: #34495e;
    border-radius: 0px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
  }

  .footer-container p{
    padding: 7px;
    font-size: 0.7em;
  }
}
