

/*
		Global Style
*/


* {
	box-sizing: border-box;
}



body {
	font-family: helvetica;
	color: #121212;
}



.container {
	max-width: 960px;
	margin: 70px auto;
	border-radius: 25px;
}


/*
		Font Style
*/


h2 {
	font-size: 20px;
}


h3 {
	font-size: 16px;
}


p {
	font-size: 14px;
}


/*
		Navigation Style
*/


nav {
	background: hsla(43, 70%, 70%, 1);
	position: fixed;
	top: 0;
	width: 100%;
	line-height: 60px;
	height: 60px;
	z-index: 1;


	h2 {
		padding-left: 30px;
	}
}


/*
		Left Column Style
*/


.left {
	float: left;
	width: 24%;


	aside {
		position: relative;
		background: hsla(10, 50%, 70%, 1);
		height: 500px;
		border-top-left-radius: 25px;


		h3 {
			text-align: center;
			padding: 10px 0;
		}
	}


	#ad {
		position: absolute; 
		top: 50%;
		transform: translateY(-50%);
	}


	.img {
		width: 80%;
		height: 200px;
		background: hsla(10, 50%, 30%, 1);
		margin: 0 auto;
	}

}


/*
		Right Column Style
*/


.right {
	float: right;
	width: 75%;


	header {
		background: hsla(125, 50%, 70%, 1);
		margin-bottom: 10px;
		text-align: center;
		border-top-right-radius: 25px;


		h1 {
			font-size: 28px;
			padding: 15px 0;
		}


		h3 {
			padding-bottom: 15px;
		}
	}


	footer {
		background: hsla(250, 50%, 70%, 1);
		border-bottom-right-radius: 25px;


		p {
			padding: 10px 15px;
			text-align: center;
		}
	}
}


/*
		Articles Section Style
*/


.articles-container {

	article {
		background: hsla(190, 40%, 75%, 1);
		display: inline-block;
		width: 32%;
		margin-bottom: 10px;
		padding: 15px;
		vertical-align: top;
		transition: box-shadow 0.5s, background 0.5s;


		h2,
		h3 {
			font-weight: bold;
			padding: 10px 0;
		}


		h2 {
			text-align: center;
		}


		p {
			line-height: 1.5;
		}


		.time {
			text-align: center;
			color: #222;
			margin-top: -7px;
			font-size: 12px;
		}
	}


	article:hover {
		background: hsla(190, 40%, 85%, 1);
		box-shadow: 0 0 20px 2px #777;
		transition: box-shadow 0.5s, background 0.5s;
	}


	.first-articles {
		margin: 10px 0.5% 10px 0;
	}


	.second-articles {
		margin: 10px 0.5%;
	}


	.third-articles {
		margin: 10px 0 10px 0.5%;
	}
}



/*
	CSS for width < 990 px	Responsive
*/



@media (max-width : 990px) {

	.container {
		max-width: 100%;
		margin: 60px 0;
	}


	.left {
		display: none;
	}


	.right {
		width: 100%;


		header, footer {
			border-radius: 0;
		}


		.first-articles {
			width: 48%;
			margin-left: 1%;
			float: left;
		}


		.second-articles {
			width: 48%;
			margin-right: 1%;
			float: right;
		}


		.third-articles {
			clear: both;
			width: 98%;
			margin: 10px 1%;
		}
	}
}
