/*@import 'normalize';*/
@import 'reset';

* {
  box-sizing: border-box;
}

body {
  font: 14px/22px Lato, "Open Sans", sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-weight: bold;
}

.spacer {
  width: 100%;
  height: 40px;
}

.container {
  width: 990px;
  margin: 0 auto;

  .col-1-4,
  .col-3-4 {
    display: inline-block;
    vertical-align: top;
  }

  .col-1-4 {
    width: 24%;
  }

  .col-3-4 {
    width: 74%;
  }
}

.articles-container {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;

  article {
    display: inline-block;
    vertical-align: top;
    padding: 0 12px;

    h2,
    h3 {
      text-align: center;
    }

    h2 {
      margin-top: 10px;
    }

    h3 {
      margin-top: 6px;
    }

    h4 {
      margin: 10px 0;
    }

    :last-child {
      margin-bottom: 10px;
    }
  }

  .middle-article {
    margin: 0 12px;
  }
}

header,
aside,
section,
article,
footer {
  border: 1px solid black;
}

aside,
section,
footer {
  margin-top: 10px;
}

section,
footer {
  border-radius: 5px;
  width: 100%;
}

main {
  padding-left: 10px;
}

aside {
  background-color: #cea1cd;
}

header {
  background-color: #fffd99;
  position: fixed;
  width: 100%;
  height: 40px;
  border-left: 0;
  border-right: 0;

  h3 {
    padding-top: 10px;
    margin-left: 10px;
  }
}

footer {
  background-color: #a2c0f2;
  padding: 6px 12px;
}

section {
  background-color: #a1cea9;
  margin-bottom: 10px;

  h1,
  h3 {
    text-align: center;
    margin: 10px 0;
  }

  h3 {
    font-style: italic;
  }
}

article {
  background-color: #a1cecb;
}