

/*# sourceMappingURL=styles.css.map */

body{
  font-family: Arial, sans-serif;
}

.navbar{
  background-color: #ffffb3;
  width: 100%;
  height: 30px;
  border: 2px solid black;
  justify-content: flex-start;
  padding: 15px 0 15px 15px;
}

.main{
  margin: 0px 100px 0 100px;
  display: flex;
  top: 100px;
  height: 500px;
  @media (max-width: 990px)
}

.content{
  display: flex;
  justify-content: space-between;
}

.header{
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #84e184;
  text-align: center;
}

.header *{
  padding: 10px;  
}

.header p{
  font-style: italic;
}


article{
  background-color: #33cccc;
  border: 2px solid black;
  margin: 10px 0 10px 10px;  
  padding: 20px;
}

aside{
  background-color: #ffb3da;
  border: 2px solid black;
  padding: 10px;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


footer{
  background-color: #99ccff;
  border-radius: 5px;
  border: 2px solid black;
  padding: 10px;
  display: block;
}

