html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

clearfix::before,
.clearfix::after {
    display: table;
    content: " ";
}
.clearfix::after {
    clear: both;
}

nav, #main-header, .post, #main-footer, #ad-pane {
    border: 2px solid black;
}

#main-header, .post, #main-footer, #ad-pane {
    padding: 5px;
}

#top-banner {
    background-color: #FFE599;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
}

#container {
    max-width: 990px;
    margin: 40px auto 0 auto;
}

#main-header {
    background-color: #B6D7A8;
    margin-bottom: 5px;
}

.post {
    background-color: #A2C4C9;
    float: left;
    width: 243.33px;
}

.post:nth-of-type(2) {
    margin: 0 5px;
}


#main-footer {
    background-color: #9FC5F8;
    clear: both;
    margin-top: 5px;
}

#ad-pane {
    background-color: #D5A6BD;
    height: 450px;
    width: 245px;
    float: left;
    margin-right: 2.5px;
    position: relative;
}

.advertisement {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.ad-content {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-color: white;
}

header, .advertisement {
    text-align: center;
}

#content-pane {
    width: 740px;
    margin-left: 2.5px;
    float: right;
}

#main-header, #main-content, #main-footer {
    width: 100%;
}

#main-header, #main-footer {
    border-radius: 20px;
}
