$font-stack: Helvetica, sans-serif;
$border: 2px solid #8f9191;

/* 
===============
STYLING
===============
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container,
.grid{
  margin: 0 auto;
  width: 990px;
}

.col-1-3 {
  display: inline-block;
  width: 250px;
  vertical-align: top;
}


body{
  font: 100% $font-stack;
  font-color: #595959;
  padding-top: 60px;
  box-sizing: border-box;
}

/* 
===============
NAV
===============
*/

nav{
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #f2d885;
  margin-bottom: 100px;
  border-bottom: $border;
  h3{
  font-size: 25px;
  font-weight: 500;
  line-height: 50px;
  padding-left: 10px;
  }
}


/* 
===============
AD
===============
*/

aside{
  background-color: #dba8cf;
  border: $border;
  float: left;
  height: 400px;
  width: 200px;
  margin-right: 10px;
  padding: 10px
}


/* 
===============
HEADER
===============
*/

header{
  background-color: #afd6b3;
  display: inline-block;
  margin-bottom: 10px;
  padding: 15px;
  border: $border;
  border-radius: 10px;
  width: 760px;
  text-align: center;
  h1{
    font-size: 30px;
    font-weight: 500;
    padding: 5px;
  }
  h4{
    font-style: italic;
  }
}


/* 
===============
POSTS
===============
*/

.posts{
  article{
  background-color: #95c1c1;
  border: $border;
  margin-right: 5px;
  padding: 15px;
  }
  h2{
  text-align: center;
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
  }
  h4{
  text-align: center;
  font-size: 12px;
  padding-bottom: 5px;
  }
  h5{
  padding: 5px 0 5px 0;
  font-weight: 700;
  }
  p {
  margin-bottom: 20px;
  line-height: 1.2;
  }
}


/* 
===============
FOOTER
===============
*/

footer{
  border-radius: 10px;
  border: $border;
  background-color: #9abff9;
  padding: 5px;
  margin-top: 10px;
  float: right;
  width: 785px;
  line-height: 1.5;
}