body {
	margin: 0px;
}

nav {
  background-color: #EADB7A;
  font-size: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.larger-column-container {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 15px;
}

aside {
	.aside-container {
		position: relative;
 		top: 50%;
 		transform: translateY(-50%);
 		font-family: "Comic Sans MS", "Comic Sans", cursive;
	}
	img {
		margin-top: 20px;
	}
	float: left;
	background-color: #DB9AD7; 
	height: 650px;
	width: 200px;
	padding: 15px;
	text-align: center;
	border-style: solid;
    border-width: 3px;
}

.container {
	header {
		h1 {
			margin: 0px;
		}
		h2 {
			font-style: italic;
		}
		background-color: #7CCC9A;
		border-style: solid;
    	border-width: 3px;
    	text-align: center;
  		padding: 20px;
  		font-family: "Comic Sans MS", "Comic Sans", cursive;
  		border-radius: 25px;
	}
	section {
		h1 {
			text-align: center;
		}
		.date {
			text-align: center;
			font-style: italic;
		}
		.content {
			padding-left: 15px;
			padding-right: 15px;
		}
		background-color: #8AB4DE;
		float: left;
		width: 31%;
		border-style: solid;
    	border-width: 3px;
    	margin-top: 15px;
    	margin-right: 7.5px;
    	margin-left: 7.5px;
    	font-family: "Comic Sans MS", "Comic Sans", cursive;
	}
	float: right;
	width: 900px;
	margin-bottom: 15px;
} 


footer {
	clear: both;
	background-color: #962626;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	border-style: solid;
    border-width: 3px;
   	text-align: center;
	padding: 20px;
  	font-family: "Comic Sans MS", "Comic Sans", cursive;
  	border-radius: 25px;
}