/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Variables
$margin-elements: 10px;
$padding-elements: 10px;
$nav-height: 40px;


// CSS Styling

html {
  background-color: #fff;
}

body * {
  box-sizing: border-box;
}

nav {
  background: #ffe599;
  height: $nav-height;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  h1 {
    font-size: 1.75em;
    line-height: 40px;
    padding-left: 20px;
  }
}

#ad {
  background: #d5a6bd;
  width: 230px;
  height: 350px;
  display: inline-block;
  position: relative;
  vertical-align: top;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
      text-align: center;
      font-weight: bold;
      font-size: 1.1em;
    }

    img {
      height: 200px;
      width: 200px;
    }
  }
}

main {
  width: 990px;
  margin: ($margin-elements + $nav-height) auto 0 auto;
}

.content {
  width: 750px;
  display: inline-block;
  margin-left: $margin-elements;
}

header {
  background: #b6d7a8;
  padding: $padding-elements;
  border-radius: 15px;
  text-align: center;

  h1 {
    font-size: 1.3em;
    font-weight: bold;
    padding: 2px;
  }

  h2 {
    font-size: 1.1em;
  }
}

article {
  background: #9fc1c6;
  width: ((750px - $margin-elements * 2) / 3);
  display: inline-block;
  vertical-align: top;
  margin-top: $margin-elements;
  margin-right: $margin-elements;
  padding: $padding-elements;

  h3 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }

  p:first-of-type {
    text-align: center;
  }

  h4 {
    font-weight: bold;
    padding: 12px 0 8px 0;
  }
}

article:last-of-type {
  margin-right: 0px;
}

footer {
  margin-top: $margin-elements;
  background: #9fc5f8;
  padding: $padding-elements;
  border-radius: 15px;
}

// For narrow widths

@media (max-width: 990px) {
  #ad {
    display: none;
  }

  main {
    width: 100%;
    margin: $nav-height 0 0 0;
  }

  .content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    article {
      width: 48%;
      margin-right: 1%;
      margin-left: 1%;
    }

    article:last-of-type {
      width: 98%;
    }
  }



  header,
  footer {
    border-radius: 0;
    width: 100%
  }
}
