@import 'normalize';

.container {
  width: 990px;

  .col-1-4 {
    width: 24.9%;
  }

  .col-3-4 {
    width: 74.9%;
  }
}

aside {
  background-color: #cea1cd;
}

header {
  background-color: #fffd99;
}

footer {
  background-color: #a2c0f2;
}

section {
  background-color: #a1cea9;
}

article {
  background-color: #a1cecb;
}