/*
=============================
Reset / html styles
=============================
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Short Stack', cursive;
	line-height: 1.75;
}

/*
=========================================
Navbar (top)
=========================================
*/

.navbar {
  background-color: #ebd064;
  width: 100%;
	height: 50px;
	line-height: 50px;
	position: fixed;
	padding: 10px 0 0 20px;
	font-size: .75em;
}

/*
=========================================
Container for everything below navbar
=========================================
*/

.container {
	width: 990px;
	margin: 0 auto;
	padding-top: 50px;
}

/*
==============================
Sidebar
==============================
*/

.sidebar {
	float: left;
	width: 24%;
	height: 500px;
	margin-top: 5px;
	margin-right: 1%;
	border-radius: 1em;
	background-color: #b06e7c;
}

.ad {
	width: 200px;
	height: 200px;
	background-color: white;
	margin: 0 auto;
	margin-top: 5px;
}

.sidebar-text {
  padding-top: 139.5px;
	font-size: .75em;
	margin: 0 auto;
	text-align: center;
}

/*
===========================
Blog and footer
===========================
*/

.header-blog-footer {
	width: 75%;
	float: left;
	margin-top: 5px;
}

.main-header {
	height: 100px;
	text-align: center;
	padding-top: 1em;
	border-radius: 1em;
	background-color: #7eb291;
	font-size: .75em;
}

.blog-posts-container {
	width: 100%;
}

.first-post,
.second-post {
	margin-right: 1.5%;
}

.all-posts {
	width: 32.33%;
	float: left;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	padding: 10px;
	font-size: .75em;
	background-color: #738c9e;
}

.title-and-time {
	text-align: center;
}

.blog-text {
	font-size: .75em;
}

.footer {
  clear: both;
	background-color: #16639a;
	border-radius: 1em;
	padding-left: 20px;
}

/*
=========================================
Media queries
=========================================
*/

@media all and (max-width: 990px) {
	.main-header,
	.footer {
    width: 100%;
		border-radius: 0;
	}
	.header-blog-footer {
		margin-top: 0;
	}
	.blog-posts-container {
		width: 95%;
		margin: 0 auto;
	}
	.all-posts {
		width: 49.25%;
	}
	.second-post {
		float: right;
		margin-right: 0;
	}
	.third-post,
	.blog-and-footer {
    width: 100%;
		margin-top: 0;
	}
	.third-post {
		margin-top: 0;
	}
	.sidebar {
		display: none;
	}
}
