* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size:15px;
    color: black;
}

nav {
    width: 100%;
    background: #FFE599;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    position: fixed;
    top: 0;
    z-index: 1;
}

#main {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    position: relative;
    top: 44px;
}

#main-body {
    order: 2;
}

#main-body header, #main-body footer {
    display: block;
    margin: 0;
}

#main-header {
    text-align: center;
    background: #B6D7A8;
}

#main-header h1 {
    font-size: 35px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

#main-header h2 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size:25px;
    font-weight:normal;
    font-style: italic;
}

main {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    flex-wrap: wrap
}

article {
    background-color: #A2C4C9;
    flex: 1 200px;
    align-self: auto;
    min-width: 0;
    padding: 5px;
    margin: 4px;
}

article:nth-of-type(3) {
    flex: 3 200px;
    display: flex;
    flex-flow: column;
}

article header {
    text-align: center;
    padding-bottom: 10px;
}

article h2 {
    -webkit-margin-after: 0;
    font-size: 20px;
}

section h2 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

aside {
    display: none;
}

footer {
    background-color: #9FC5F8;
    font-size:15px;
    padding: 5px;
}