@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/**
 * Global 
 */

*, *:before, *:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
}

header {
	height: 50px;
	width: 100%;
	background-color: #ffe599;
}

main {
	display: flex;
	position: relative;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 1%;
	height: 80vh;
}


footer {
	margin-left: 25.5%;
	margin-right: 10%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 0.1%;
	margin-top: 0.5%;
	height: 9%;
	width: 64%;
	border-radius: 20px;
	background-color: #9fc5f8;
	overflow: scroll;
}

/**
 * Ads 
 */

.sidebar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 19%;
	height: 72%;
	background-color: #d5a6bd;
}

.ads-block {
	height: 50%;
	width: 90%;
	background: url(./img/mays.jpg) 
              no-repeat 
              center / cover;
}

/**
 * Blog body
 */


#blog-title {
	padding-top: 15px;
	padding-left: 15px;
}

.author-text {
	font-style: italic;
}

.inner-blog-title {
	display: block;
	text-align: center;
	width: 79%;
	height: 14%;
	margin-left: 1%;
	padding-top: 0.5%;
	border-radius: 20px;
	background-color: #b6d7a8;
}

.posts {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	position: absolute;
	overflow: scroll;
	width: 79%;
	height: 84%;
	left: 20%;
	top: 14.5%;
}

/**
 * Blog Article
 */

.article-header {
	text-align: center;
	margin-bottom: 6%;
}

.article-body {
	margin-top: 4%;
}

.article-text {
	margin-top: 4%;
	margin-bottom: 10%;
}

.black-border {
	border: 2px solid black;
}

.article {
	width: 260px;
	max-height: 700px;
	padding-left: 2%;
	padding-right: 2%;
	margin-top: 1%;
	background-color: #a2c4c9;
	display: table;
}

/**
 * Media Queries
 */

@media only screen and (max-width: 990px) {
	main {
		height: 90vh;
		margin-left: -1%;
		margin-right: 0;
		margin-top: 0;
	}

	footer {
		margin-left: 0;
		margin-right: 0;
		padding-left: 2%;
		padding-right: 2%;
		padding-top: 0.1%;
		margin-top: 1.5%;
		height: 9%;
		width: 100%;
		border-radius: 0;
		background-color: #9fc5f8;
		overflow: scroll;
	}

	.sidebar { 
		display: none; 
	}

	.inner-blog-title {
		display: block;
		text-align: center;
		width: 100%;
		height: 15%;
		border-radius: 0;
		background-color: #b6d7a8;
	}

	.posts {
		top: 16.5%;
		width: 96.5%;
		left: 2.5%;
	}

	.article {
		width: 450px;
	}

}

@media only screen and (max-width: 923px) {
	.posts {
		left: 26.5%;
	}
}

@media only screen and (max-width: 740px) {
	.posts {
		left: 1.5%;
		justify-content: center;
	}

	.article {
		width: 360px;
	}
}











