/* Main body styling */

body {
  background-color: #FFF;
  font-family: "Comic Sans MS", Arial, sans-serif;
}

/* Header line-height */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* Navigation bar */
.navbar {
  background-color: #FEE49D;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  top: 0;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

/* Links inside the navbar */
.navbar a {
  color: #000;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  float: left;
}

/* Content below navbar */
.mainContent {
  margin-top: 75px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
}

/* Advertise positioning */
.advertise {
  background-color: #D4A7BD;
  border: 2px solid #000;
  padding: 100px 60px;
  align-items: center;
  float: left;
  margin: 0 .5%;
  text-align: center;
}

img{
    width: 100%;
    height: 100%;
}

/* Content to right of advert */
.contentNoAd {
  float: right;
  margin: 0 .5%;
}

/* Blog title */
.pageTitle {
  background-color: #B7D6AA;
  border: 2px solid #000;
  border-radius: 25px;
  text-align: center;
  height: 80px;
}

h2 {
    font-size: 30px;
    margin-top: 15px;
}

/* Author */
#author {
  font-style: italic;
    margin-top: 5px;
}

/* Blog posts container*/
.blogPosts {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Individual posts */
#postOne, #postTwo, #postThree {
  background-color: #A3C4C9;
  border: 2px solid #000;
  padding: 0px 10px;
  margin: 4px;
  float: left;
  width: 33.3%;
}

/* Blog post headings */
.postTitle {
  text-align: center;
}

/* Blog date */
.dateDate {
  font-weight: normal;
  text-align: center;
}

/* Footer copyright */
.copyright {
  background-color: #A0C6F6;
  border: 2px solid #000;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  clear: both;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: justify;
  height: 60px;    
}

#disclaimer{
    margin-top: 5px;
}