
/* RESET EVERYTHING */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: arial, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET COMPLETE */


#nav-bar{
  width: 100%;
  position: fixed;
  margin: 0px;
  padding: 0px;
  height: 60px;
  background: #FFE599;
  border: 2px solid black;
  box-sizing: border-box;
}

#nav-bar-title{
  font-size: 24px;
  background-color: inherit;
  font-weight: normal;
  float: left;
  display: block;
  padding-top: 20px;
  padding-left: 20px;
  margin: 0px;
}

.ad-content{
  margin-left: 100px;
  width: 220px;
  padding: 150px 0px;
  font-size: 16px;
  font-weight: bold;
  background-color: #D5A6BD;
  text-align: center;
  float: left;
  border: 2px solid black;
  margin-top: 80px;
  box-sizing: border-box;
}


.header-content{
  background-color: #B6D7A8;
  float: left;
  border-radius: 20px;
  border: 2px solid black;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%
}


.header-text{
  text-align: center;
  padding: 10px;
  margin: 0px;
  width: 100%;
}

#header-title{
  font-size: 1.5em;
  font-weight: bold;
}

#header-author{
  font-style: italic;
}

.main-content{
  float: left;
  margin: 20px;
  margin-top: 80px;
  margin-right: 100px;
  box-sizing: border-box;
  max-width: calc(100% - 120px - 320px);
}

footer{
  clear: left;
  background-color: #9FC5F8;
  border: 2px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  clear: left;
  display: flex;
}

.post-main{
  background-color: #A2C4C9;
  padding: 10px;
  border: 2px solid black;
  margin-left: 20px;
  margin-top: 10px;
  float: left;
  flex: 1;
}

#post-first{
  margin-left: 0px;
}

.post-title{
  text-align: center;
  padding: 10px;
  font-size: 1.3em;
  font-weight: bold;
}

.post-date{
  text-align: center;
}

.post-container{
  display: flex;
  clear: left;
  align-items: flex-start;
}


.post-subtitle{
  font-weight: bold;
  padding: 10px;
}

.post-content{
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}


/*
DOES ALL THE PREVIOUS INFO GET SKIPPED IF THE
SCREEN INITIAL WIDTH IS LESS THAN 990px???
cus this would suck

^remember to look this up or at least test drive
*/

@media screen and (max-width: 989px){
  .ad-content{
    display: none;
  }

  .main-content{
    float: left;
    margin: 0px;
    margin-top: 60px;
    max-width: 100%;
    width:100%
  }

  .header-content{
    background-color: #B6D7A8;
    float: left;
    border-radius: 0px;
    border: 2px solid black;
    box-sizing: border-box;
    width: 100%
  }

  .post-container{
    display: inline-block;
    clear: left;
  }

  #post-first, #post-second{
    box-sizing: border-box;
    margin: 10px;
    display: inline-block;
    float: left;
    width: calc(50% - 20px);
  }

  #post-third{
    box-sizing: border-box;
    display: block;
    margin: 10px;
    clear: left;
    width: calc(100% - 20px);
  }

  footer{
    clear: left;
    background-color: #9FC5F8;
    border: 2px solid black;
    border-radius: 0px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
    clear: left;
    width: 100%;
  }

}
