// ad

.ad {
	width: $width * 0.20;
	height: 518px;
	position: absolute;
	left: $width * 0.025;
	background: $ad;

	.table {
		display: table;
		height: 100%;
	}
	.center-y {
		vertical-align: middle;
	}
	h1 {
		font-size: 1em;
		text-align: center;
	}
	.image {
		@include container;
		max-width: 80%;
	}
	.center-y,
	h1,
	.image img {
		display: table-cell;
		text-align: center;
		width: 100%;
	}
}

@media only screen and (max-width: $width) {
	.ad {
		position: static;
		width: 100%;
		height: 396px;
		margin-left: 0;
		margin-top: 0;

		.table {
			@include center-block;
		}
		.image {
			max-width: 256px;
		}
	}
}