// ad

.ad {
	width: $width * 0.25;
	margin-left: -$width;

	.image {
		width: 75%;
	}
	.image img {
		max-width: 100%;
	}
}

@media only screen and (max-width: $width) {
	.ad {
		max-width: 100%;
		margin-left: 0;

		.image {
			width: 75%;
		}
		.image img {
			max-width: 256px;
		}
	}
}