// mixins

// --------------------
// clearfix
// --------------------

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
	width: 0;
}
.clearfix:after {
	clear: both;
}
@mixin clearfix() {
	@extend .clearfix;
}

// --------------------
// box
// --------------------

.box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin box() {
	@extend .box;
}

// --------------------
// center block
// --------------------

.center-block {
	margin-left: auto;
	margin-right: auto;
}
@mixin center-block() {
	@extend .center-block;
}

// --------------------
// container
// --------------------

.container {
	@include box;
	@include clearfix;
	@include center-block;
	margin-left: auto;
	margin-right: auto;
}
@mixin container() {
	@extend .container;
}