.clearfix:before
.clearfix:after {_
    content:"";
    display: table;
}

.clearfix:after {
  clear:both;
}

.right {
    float: right;
}

.left {
	float: left;
}





#navbar {
	display: block;
	position: fixed;
	background: lightyellow;
	width: 100%;
}






.container {
	padding: 74px 10% 10px 10%;
	min-width: 50%;
}





img {
	width: 100%;
	height: 50%;
}

.ad {
	display: inline-block;
	width: 200px;
	height: 400px;
	border: 2px solid black;
}






.title-banner {
	display: inline-block;
	position:relative;
	top: 0px;
	max-width: 630px;
	min-width: 60%;
	width: 100%;
	border: 2px solid black;
	border-radius: 4px;
	margin: 0px 4px 0px 4px;
	padding: 4px;
}

.title-banner h1,
.title-banner h3{
	text-align: center;
}




.post {
	display: inline-block;
	position: relative;
	max-width: 195px;
	min-width: 15%;
	vertical-align: top;
	margin: 4px;
	padding: 4px;
	border: 2px solid black;
	border-radius: 4px
}

footer {
	position: relative;
	left: 200px;
	width: 70%;
	border: 2px solid black;
	border-radius: 4px
}
}
