*{
    font-family: 'Baloo Tammudu', cursive;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
}

nav{
	position: fixed;
	background: #f7f71d;
	width: 100%;
	top: 0;
	left: 0;
}

main{
	max-width: 990px;
	margin: 50px auto;
}

aside{
	width: 11%;
	height: 390px;
	padding: 20px;
	border: 2px solid;
	text-align: center;
	position: absolute;
	left: 10px;
	z-index: -1;
	background: rgb(245, 175, 187);
}

aside p{
	font-size: 14px;
	line-height: 1.5;
}

aside img{
	width: 90%;
	margin: 30px auto;
}

section{
	width: 75%;
	margin: 0 auto;
}

#headertitle{
	border: 2px solid;
	border-radius: 20px;
	background: rgba(33, 208, 39, 0.7);
	text-align: center;
	padding: 5px 0;
}

#headertitle h1{
	font-size: 1.35rem;
}

#headertitle h2{
	font-size: 1.05rem;
	font-style: italic;
	font-weight: normal;
	line-height: 1;
}

.flexsection{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.flexsection .inside-article{
	border: 4px solid;
	padding: 10px;
	margin: 10px 5px;
	background: rgba(149, 167, 246, 0.76);
}

.inside-article .body-article p{
	line-height: 1.05;
}

/*Footer*/

footer{
	border: 3px solid;
	border-radius: 20px;
	padding: 7px;
	line-height: 1;
	background: rgba(149, 167, 246, 0.87);
}