@import "reset.css";

@media screen and (max-width: 990px) {
    
  [class^="ad"] {
    position: absolute;
    visibility: hidden;
  }

  .flex-container {
    width: 100%;
  }

  .post-header {
 
    width: 50%;

  }



}

@media screen and (min-width:990px) {
      
  .flex-container {
    width:   75%;
    float: right;
  }

  .post-header {
    width: 75%;
    border-radius: 12px;
    margin: 0 0 10px 5px;
  }




}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", "arial", sans-serif;
}



.wrapper {
  width: 990px;
  margin: 50px auto;
}

.header-blog {
  width: 100%;
  height: 40px;
  background-color: #FFE599;
  border: 1px solid black;
  position: fixed;
  top: 0;
}

.header-blog p {
  padding: 13px 0 0 10px;
  font-weight: bold;
}


.ad-container {
    position:absolute;
    z-index: -1;
    background: #d5a6bd;
    display: flex;              
    flex-direction: column;     
    justify-content: center;    
    align-items: center;        
    height: 300px;
    width: 200px;
    margin-top: 6px;
    border: 1px solid black;
    float: left;
}

.ad-box {
    width: 300px;
    margin: 5px;
    text-align: center;
}

.ad-image {
  width: 35%;
}


.flex-container {
  display:  -webkit-flex;
  display:     -moz-flex;
  display:          flex;

}



h4 {
  line-height: 35px;
}

.blog-post {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 15px;
}



.post-header {
  height: 65px;
  padding: 17px 0 0 0;
  float:right;
  border: 1px solid black; 
  background-color: #B6D7A8;
  text-align: center;
}



.posts {
  float: left;
  width: 30%;
  margin: 5px auto;
}

.posts-by-user {
  background-color: #A2C4C9;
  border: 1px solid black;
  padding: 6px;
}

.clear {
  clear: both;
}

header {
  text-align: center;
  margin-bottom: 10px;
}

header time {
  font-size: 80%;
}


.disclaimer {
  height: 60px;
  background-color: #9FC5F8;
  padding: 12px;
  margin-top: 15px;
}

footer p {
  font-size: 12px;
  line-height: 18px;
}
