@import "reset.css";

* {
  box-sizing: border-box;
}

.wrapper {
  width: 990px;
  margin: 10px auto;
}

.header-blog {
  width: 100%;
  height: 40px;
  background-color: #FFE599;
  p {
    display: inline-block;
    width: 80px;
  }
}


.advertisement {
  height: 80%;
  border: 1px solid black;
  background-color: #D5A6BD;
  float: left;
  display: block;
  
  p {
    text-align: center;
  }

}

.advertisement-image {
  width: 50px;
  display: relative;
  margin: 0 auto;
}




.flex-container {
 
  display:  -webkit-flex;
  display:     -moz-flex;
  display:          flex;
  width:             75%;
  float: right;


}


.title-header {
  width:  100%;
  height: 50px;
  background-color: #B6D7A8;
  text-align: center;
  padding: 8px 0 0 0;
}

.posts {
  float: left;
  width: 30%;
  margin: 0 auto;
}

.posts-by-user {
  background-color: #A2C4C9;
  border: 1px solid black;
}

.disclaimer {
  width: 100%;
  height: 40px;
  background-color: #9FC5F8;
  position: relative;
  display: block;

}