footer {
    width: 90%;
    margin-bottom: 10px;

  p {
    box-sizing: border-box;
    @include section-border(25px);
    padding: 8px 8px;
    background-color: $footer-bg-color;
    @include margin-reset();
  }
}