@import "_colors";
@import "_layout";
@import "_fonts";
@import "_header";
@import "_main";
@import "_footer";
@import "_mediaqueries";

/*
 * Global styles
 */

html, body, .col-1-3, .col-2-3, aside {
  @include margin-reset();
  @include padding-reset();
}

html {
  @include primary-font-stack();
  background-color: $body-bg-color;
}

.col-1-3 {
  display: inline-block;
  width: 33.33%;
}

.col-2-3 {
  display: inline-block;
  width: 66.67%;
}

.flex-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}